<p>
<table>
    <thead>
        <th>id:</th>
        <th>name:</th>
        <th>avatar:</th>
        <th>cloudinary_id:</th>
    </thead>
    <tbody>
        <% user.forEach(user=> { %>

            <tr>
                <td>
                    <%= user.id %>
                </td>
                <td>
                    <%= user.name %>
                </td>
                <td>
                    <%= user.avatar %>
                </td>
                <td>
                    <%= user.cloudinary_id %>
                </td>
            </tr>
            <% }) %>
    </tbody>
</table>


</p>